<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8">
    <title>{{header}}</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <h1>{{message}}</h1>
    </div>
    {{>footer}}
  </body>
</html>
